<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="2 seconds">
	<!-- 属性变量定义 -->
	<springProperty scope="context" name="insPort" source="server.port"/>
	<springProperty scope="context" name="basePkg" source="logging.basePkg"/>
	<springProperty scope="context" name="logFile" source="logging.filePath"/>
	<springProperty scope="context" name="maxFileSize" source="logging.maxFileSize"/>
	<springProperty scope="context" name="appName" source="spring.application.name"/>
	<springProperty scope="context" name="insIp" source="spring.cloud.client.ip-address"/>
	
	<property name="insId" value="${insIp}:${insPort}"/>
	<property name="consolePattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{100}%msg%n"/>
	<property name="filePattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${appName} ${insId} %logger{100}%msg%n"/>
	
	<!-- 应用服务名 -->
	<contextName>${appName}</contextName>
	
	<!-- 输出日志到控制台 -->
    <appender name="devConsole" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${consolePattern}</pattern>
        </layout>
    </appender>
	
    <!-- 输出日志到文件 -->
    <appender name="testFileImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<File>${logFile}</File>
	    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logFile}.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>15GB</totalSizeCap>
            <maxFileSize>${maxFileSize}</maxFileSize>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
	    <encoder>
	        <charset>UTF-8</charset>
	        <pattern>${filePattern}</pattern>
	    </encoder>
    </appender>
    
    <!-- 输出测试环境日志 -->
    <appender name="testFile" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <appender-ref ref="testFileImpl"/>
    </appender>
    
    <!-- 所有Spring的日志中只有错误级别的日志会输出 -->
    <logger name="org.springframework" level="error" additivity="false">
    	<springProfile name="dev">
	  		<appender-ref ref="devConsole"/>
	  	</springProfile>
	  	<springProfile name="test,pre,prod">
	  		<appender-ref ref="testFile"/>
	  	</springProfile>
    </logger>
    
    <!-- 按不同环境输出日志信息到文件 -->
    <logger name="${basePkg}" level="debug" additivity="false">
    	<springProfile name="dev">
	  		<appender-ref ref="devConsole"/>
	  	</springProfile>
	  	<springProfile name="test">
	  		<appender-ref ref="testFile"/>
	  	</springProfile>
	</logger>
    
    <!-- 默认的logger日志以INFO级别输出到控制台 -->
	<root level="info">
		<appender-ref ref="devConsole"/>
	</root>
</configuration>